{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["(.css)$", "^[../]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
